@font-face {
	font-family: 'CiscoSansTT';
	src: url(/fonts/CiscoSansTTRegular.ttf) format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansTTMedium';
	src: url(/fonts/CiscoSansTT-Medium.ttf) format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansThin';
	src: url(/fonts/CiscoSansTTThin.ttf) format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansTTBold';
	src: url(/fonts/CiscoSansTTBold.ttf) format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansTTBoldOblique';
	src: url(/fonts/CiscoSansTTBoldOblique.ttf) format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'CiscoSansTTHeavy';
	src: url(/fonts/CiscoSansTTHeavy.ttf) format('truetype');
	font-display: swap;
}

:root {
	--query-xs: < 576px;
	--query-sm: >= 768px;
	--query-md: >= 992px;
	--query-lg: >= 1200px;
	--query-xl: >= 1400px;
}

/* @media (min-width: 300px) {
	:root {
font-size: var(--query-xs);
	
	}
}
@media (max-width:768px){
	:root {
		font-size: var(--query-sm);
	}
}

@media (min-width: 768px) {
	:root {
		font-size: var(--font-size-md);
	}
}

@media (min-width: 992px) {
	:root {
		font-size: var(--font-size-lg);
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: var(--font-size-xl);
	}
} */
:root {
	--cisco-blue: #00bceb;
	--cisco-dark-blue: #1e4471;
	--cisco-midnight-blue: #0d274d;
	--cisco-ocean-blue: #0b2750;
	--step-blue-shade: #0051af;
	--cisco-dark-gray: #414344;
	--cisco-gray: #9e9ea2;
	--border-gray: #d2d2d2;
	--border-gray-2: #e2e2e2;
	--menu-background-gray: #f5f5f5;
	--btn-gray-1: #d9d9d9;
	--btn-hover-color-gray: #b2b8bf;
	--btn-blue-1: #3862be;
	--btn-blue-2: #1d69cc;
	--btn-hover-main: #0060ad;
	--text-white-1: #fff;
	--text-color-blue1: #2b5592;
	--cisco-blue-hover: #52dcff;
	--font-gray: #495057;
	--text-color-black1: #000;
	--text-color-black2: #333;
	--text-color-black3: #525252;
	--theme-success: #74bf4b;
	--theme-danger: #e3241b;
	--theme-warning: #fbab2c;
	--theme-warning-alt: #eed202;
	--theme-dark: #495057;
	--theme-light: #ced4da;
	--white: white;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-sm: clamp(0.7rem, 0.09vw + 0.68rem, 0.75rem);
		--font-size-base: clamp(0.88rem, 0.23vw + 0.82rem, 1rem);
		--font-size-md: clamp(1.09rem, 0.43vw + 0.98rem, 1.33rem);
		--font-size-lg: clamp(1.37rem, 0.74vw + 1.18rem, 1.78rem);
		--font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
		--font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
		--font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
	}
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
	:root {
		--font-size-sm: 0.7rem;
		--font-size-base: 0.88rem;
		--font-size-md: 1.09rem;
		--font-size-lg: 1.37rem;
		--font-size-xl: 1.71rem;
		--font-size-xxl: 2.14rem;
		--font-size-xxxl: 2.67rem;
	}
	@media screen and (min-width: 1280px) {
		:root {
			--font-size-sm: 0.75rem;
			--font-size-base: 1rem;
			--font-size-md: 1.33rem;
			--font-size-lg: 1.78rem;
			--font-size-xl: 2.37rem;
			--font-size-xxl: 3.16rem;
			--font-size-xxxl: 4.21rem;
		}
	}
}

* {
	box-sizing: border-box;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
h2 {
	margin: 2em 0 1em 0;
}
html {
	font-family: 'CiscoSansTT', sans-serif;
	-webkit-text-size-adjust: 100%;
	height: 100vh;
}

b {
	font-weight: bold;
}

#eot-doc-wrapper .kbd-cdt {
	display: block;
	font-size: 1.25em;
	height: auto;
	background-color: #0d274d;
	color: #64bbe3;
	border-radius: 5px;
	padding: 1.5em;
	margin: 1em 20px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
}

/* ::-webkit-scrollbar {
    width: 1.125rem !important;
    height: 1.125rem !important;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8 !important;
    border: 4px solid #f2f5f9 !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 7px !important;
}

::-webkit-scrollbar-thumb {
    border: 4px solid #f8f8f8 !important;
}

::-webkit-scrollbar-track {
    background: #f2f5f9 !important;
    border-bottom: none !important;
    border-top: none !important;
}

::-webkit-scrollbar-track {
    background: #f8f8f8 !important;
} */

body {
	margin: 0 !important;
	min-height: 100vh;
	line-height: 1.375rem;
	-webkit-font-smoothing: auto;
	background-color: var(--menu-background-gray);
	overflow: auto;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-wrap: break-word;
}

.video-card {
	width: 100%;
}
.title {
	font-size: var(--font-size-md);
	margin-bottom: 0;
	-webkit-margin-before: 0;
}
details summary {
	cursor: pointer;
}

#drawertab {
	z-index: 1;
}
*/

/* CSS For Support Articles (eot-doc-wrapper) */

 #eot-doc-wrapper h2 {
	color: #2b5592;
	margin-top: 1.5em;
}

#eot-doc-wrapper h3 {
	color: #58585b;
}

#eot-doc-wrapper a[href],
#eot-doc-wrapper abbr {
	color: #2b5592;
	-webkit-text-decoration-color: #64bbe3;
	text-decoration-color: #64bbe3;
	font-weight: 700;
}

#eot-doc-wrapper a[href]:hover,
#eot-doc-wrapper abbr:hover {
	color: #64bbe3;
	-webkit-text-decoration-color: #2b5592;
	text-decoration-color: #2b5592;
	transition: 0.3s;
}

#eot-doc-wrapper a {
	color: #2b5592;
	-webkit-text-decoration-color: #64bbe3;
	text-decoration-color: #64bbe3;
	text-underline-position: below;
	transition: 0.3s;
}

#eot-doc-wrapper #context-selector-tab-container a:not(.active) {
	color: #64bbe3;
}

#eot-doc-wrapper .cdt-note a[href] {
	color: #64bbe3;
	-webkit-text-decoration-color: #6cc04a;
	text-decoration-color: #6cc04a;
}

#eot-doc-wrapper .cdt-note a[href]:hover {
	color: #6cc04a;
	-webkit-text-decoration-color: #64bbe3;
	text-decoration-color: #64bbe3;
}

#eot-doc-wrapper .cdt-best-practice a[href] {
	color: #6cc04a;
}

#eot-doc-wrapper .cdt-best-practice a[href]:hover {
	color: #64bbe3;
	-webkit-text-decoration-color: #6cc04a;
	text-decoration-color: #6cc04a;
}

#eot-doc-wrapper samp {
	color: #fff;
}

#eot-doc-wrapper .kbd-cdt p {
	color: #64bbe3;
}

/* #eot-doc-wrapper p {
	line-height: 1.25em;
	margin: 1.5em 40px;
	text-align: justify;
} */

#eot-doc-wrapper blockquote {
	font-size: 1.5em;
	border-top: 0.25em #2b5592 solid;
	border-bottom: 0.25em #2b5592 solid;
	color: #2b5592;
	font-weight: 600;
	padding: 1.5em 1em;
	margin: 1.5em 40px;
}

#eot-doc-wrapper kbd {
	display: block;
	font-size: 1.25em;
	height: auto;
	background-color: #0d274d;
	color: #64bbe3;
	border-radius: 5px;
	padding: 1.5em;
	margin: 1.5em 40px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
}

#eot-doc-wrapper li {
	color: #58585b;
}

#eot-doc-wrapper li p {
	margin: 0;
}

#eot-doc-wrapper ol {
	-webkit-padding-start: 1px;
	padding-inline-start: 1px;
}

#eot-doc-wrapper ol,
#eot-doc-wrapper ul {
	list-style: none;
}

#eot-doc-wrapper ul li p {
	display: contents;
}

#eot-doc-wrapper ul li p a {
	display: contents;
}

#eot-doc-wrapper ul li ul li {
	display: contents;
}

#eot-doc-wrapper ul li::before {
	content: '\25cf';
	color: #64bbe3;
	font-weight: 900;
	font-size: 1.15em;
	display: inline-block;
	width: 1em;
	text-align: left;
}

#eot-doc-wrapper ol {
	margin-left: 20px;
}

#eot-doc-wrapper .cdt-count li {
	counter-increment: step-counter;
	margin-bottom: 10px;
}

#eot-doc-wrapper .cdt-count li::before {
	content: counter(step-counter);
	margin-right: 8px;
	font-size: 80%;
	border: #64bbe3 2px solid;
	color: #58585b;
	font-weight: 700;
	padding: 4px 8px;
	border-radius: 15px;
	text-align: center;
}

#eot-doc-wrapper #context-selector-tab-container {
	height: 3rem;
	margin: 0;
	white-space: nowrap;
	word-wrap: normal;
	border-bottom: 0.0625rem solid #dfdfdf;
	font-size: 1.5em;
}

#eot-doc-wrapper details {
	min-height: 3rem;
	color: #333;
	word-wrap: normal;
	/* margin-left: calc(100% - 40px); */
}

#eot-doc-wrapper details h3 {
	margin-left: 1em;
}

#eot-doc-wrapper #context-selector-tab-container a:hover {
	text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
	#eot-doc-wrapper #context-selector-tab-container a:hover:not(.active) {
		background-color: #f2f2f2;
		border-radius: 5px;
	}

	#context-selector-tab-container:hover:after {
		margin-left: 1em;
		content: '\21d4 Toggle content';
		-webkit-animation: fadeout 0.3s linear;
		animation: fadeout 0.3s linear;
		color: #2b5592;
	}

	#eot-doc-wrapper #cdt-details:hover:after {
		content: ' \21d4 Toggle content';
		color: #2b5592;
		-webkit-animation: fadeout 0.3s linear;
		animation: fadeout 0.3s linear;
		font-size: 0.75em;
	}

	#eot-doc-wrapper .kbd-cdt {
		display: block;
		font-size: 1.25em;
		height: auto;
		background-color: #0d274d;
		color: #64bbe3;
		border-radius: 5px;
		padding: 1.5em;
		margin: 1.5em 40px;
		box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
	}

	#eot-doc-wrapper .kbd-cdt p {
		padding: 0;
		margin: 0;
	}

	#eot-doc-wrapper .kbd-cdt:hover {
		background-color: #58585b;
	}

	#eot-doc-wrapper .kbd-cdt:hover:after {
		content: attr(data-label);
		display: grid;
		justify-content: end;
		align-content: flex-start;
		height: 0;
	}

	#eot-doc-wrapper .KBDCDTCOPY:after {
		display: grid;
		place-items: center;
		color: #ffa000;
		content: '  Copied! ';
	}

	@-webkit-keyframes fadeout {
		0% {
			opacity: '100%';
		}

		50% {
			opacity: '50%';
		}

		100% {
			opacity: '0%';
		}
	}

	@keyframes fadeout {
		0% {
			opacity: '100%';
		}

		50% {
			opacity: '50%';
		}

		100% {
			opacity: '0%';
		}
	}

	#eot-doc-wrapper #cdt-details:hover {
		background-color: #f2f2f2;
		transition: background-color 0.3s ease-in-out;
		border-radius: 5px;
	}

	#eot-doc-wrapper #CDT-Tag-Container a:hover {
		transition: 0.3s;
		background-color: #64bbe3;
		border-radius: 5px;
		transform: translateY(-0.5rem);
	}
}

#eot-doc-wrapper #cdt-details {
	font-size: 1.5em;
	font-weight: 600;
	padding: 0.25em 0.25em 0.25em 0.5em;
	transition: background-color 0.3s ease-in-out;
}

#eot-doc-wrapper .active {
	border-bottom: 0.1875rem solid #64bbe3;
	color: #58585b;
}

.context-selector-tab {
	transition: all 0.3s ease;
	cursor: pointer;
	display: inline-block;
	height: 2.875rem;
	line-height: 2.9375rem;
	padding: 0 0.625rem;
	white-space: nowrap;
}

#eot-doc-wrapper .cdt-note:before {
	color: #64bbe3;
	content: '\1F6C8  Note:';
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2em;
}

#eot-doc-wrapper .cdt-note {
	background-color: #0d274d;
	padding: 1.5em;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
	border-left: #64bbe3 5px solid;
}

#eot-doc-wrapper .cdt-note p {
	margin: auto 0;
	color: #fff;
}

#eot-doc-wrapper .cdt-software-alert p {
	margin: 1.5em 0;
}

#eot-doc-wrapper #cdt-software-alert-button {
	padding: 0.5em 1.5em;
	background-color: #6cc04a;
	color: #fff;
	border-radius: 25px;
	margin: 0.5em;
	text-decoration: none;
}

#eot-doc-wrapper #cdt-software-alert-button:hover {
	background-color: #ffa000;
	color: #fff;
}

#eot-doc-wrapper .cdt-software-alert:before {
	color: #ffa000;
	content: '\2913  Download Notice:';
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2em;
	transition: all 0.3s ease;
}

#eot-doc-wrapper .cdt-software-alert {
	background-color: #0d274d;
	padding: 1.5em;
	color: #fff;
	margin: 1.5em 40px;
	border-radius: 5px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
	border-left: #ffa000 5px solid;
}

#eot-doc-wrapper .cdt-best-practice:before {
	color: #6cc04a;
	content: '\272A  Best Practice:';
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2em;
	transition: all 0.3s ease;
}

#eot-doc-wrapper .cdt-best-practice {
	background-color: #0d274d;
	padding: 1.5em;
	color: #fff;
	margin: 1.5em 40px;
	border-radius: 5px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
	border-left: #6cc04a 5px solid;
}

#eot-doc-wrapper .cdt-best-practice p {
	margin: auto 0;
	color: #fff;
}

#eot-doc-wrapper ol {
	list-style-position: initial;
}

#eot-doc-wrapper kbd,
#eot-doc-wrapper p,
#eot-doc-wrapper table,
#eot-doc-wrapper video {
	transition: all 0.3s ease;
}

/* #eot-doc-wrapper li li {
	margin-left: 0;
}

#eot-doc-wrapper table {
	border-collapse: collapse;
	max-width: calc(100% - 80px) !important;
	margin: 1.5em 40px;
	box-shadow: 0 0 16px 0 rgba(43, 85, 146, 0.2);
}

#eot-doc-wrapper td,
#eot-doc-wrapper th {
	text-align: left;
	word-break: keep-all;
	border-radius: 0;
}

#eot-doc-wrapper tr {
	border: 0;
	text-align: left;
	padding: 10px;
}

#eot-doc-wrapper th p {
	background-color: #0d274d;
	color: #fff !important;
	text-align: center;
	vertical-align: middle;
	font-size: 1.05em;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	padding: 1em;
}

#eot-doc-wrapper th {
	background-color: #0d274d;
	color: #fff !important;
	text-align: center;
	vertical-align: middle;
	font-size: 1.05em;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	padding: 1em;
}

#eot-doc-wrapper table th:last-child {
	border-top-right-radius: 5px;
}

#eot-doc-wrapper table th:first-child {
	border-top-left-radius: 5px;
}

#eot-doc-wrapper tr:nth-child(odd) {
	background-color: #c4d6ed;
}

#eot-doc-wrapper td > p {
	margin-left: 0;
}

#eot-doc-wrapper th > p {
	margin-left: 0;
}

#eot-doc-wrapper th > p {
	margin: 0;
	text-align: left;
}

#eot-doc-wrapper .Vid-Card-CDT {
	border-radius: 1px;
	border-top: 30px solid #64bbe3;
	box-shadow:
		-1px 0 2px 0 rgba(0, 0, 0, 0.15),
		1px 0 2px 0 rgba(0, 0, 0, 0.15),
		0 1px 1px 0 rgba(0, 0, 0, 0.24);
	padding: 16px;
	margin-bottom: 1em;
	width: calc(100% - 80px);
	position: relative;
	margin: auto;
	margin-bottom: 2em;
}

#eot-doc-wrapper .Vid-Card-CDT > h2 {
	margin-bottom: 1em;
}

#eot-doc-wrapper .videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin-bottom: 1em;
}

#eot-doc-wrapper .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
}
*/

@media screen and (max-width: 768px) {
	/* #eot-doc-wrapper blockquote,
	#eot-doc-wrapper kbd,
	#eot-doc-wrapper p,
	#eot-doc-wrapper table,
	#eot-doc-wrapper video {
		line-height: 1.25em;
		margin: 1.5em 20px;
	} */

	#eot-doc-wrapper p {
		word-break: break-word;
	}

	#eot-doc-wrapper img {
		max-width: calc(80% - 40px);
		height: auto;
		margin: 0 40px;
		border-radius: 0;
	}

	#eot-doc-wrapper blockquote {
		font-size: 1.5em;
		border-top: 0.25em #2b5592 solid;
		border-bottom: 0.25em #2b5592 solid;
		color: #2b5592;
		font-weight: 600;
		padding: 1.5em;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		width: calc(100% - 20px);
	}

	#eot-doc-wrapper th {
		padding: 0.5em;
	}

	#eot-doc-wrapper table th:last-child {
		border-top-right-radius: 0;
	}

	#eot-doc-wrapper table th:first-child {
		border-top-left-radius: 0;
	}

	#eot-doc-wrapper td > p {
		font-size: 0.75em;
		padding: 0;
		margin: 0;
		line-height: 1.1em;
	}

	#eot-doc-wrapper th p {
		font-size: 0.75em;
		margin: 0;
		padding: 0;
		text-align: left;
		word-break: break-word;
	}

	#eot-doc-wrapper table {
		border-collapse: collapse;
		max-width: 100% !important;
		letter-spacing: 2.5;
		margin: 1.5em auto;
		word-break: break-word;
	}

	#eot-doc-wrapper td,
	#eot-doc-wrapper th {
		box-sizing: border-box;
		text-align: left;
	}

	#eot-doc-wrapper tr {
		border: 2px solid #dfdfdf;
		text-align: left;
		border-left: solid #dfdfdf 2px;
		border-top: solid #dfdfdf 2px;
	}

	#eot-doc-wrapper .cdt-best-practice,
	#eot-doc-wrapper .cdt-note,
	#eot-doc-wrapper .cdt-software-alert {
		max-width: 100%;
		margin: 1.5em 0;
		border-radius: 0;
		box-shadow: none;
	}

	#eot-doc-wrapper kbd {
		max-width: 100%;
		margin: 1.5em 0;
		border-radius: 0;
		box-shadow: none;
	}
}

/* #eot-doc-wrapper #cdt-vid-card-button:hover {
	transition: width 1s;
	width: 600px;
}

#eot-doc-wrapper #CDT-vid-iframe:hover {
	transition: width 1s;
	width: 600px;
}

#eot-doc-wrapper #CDT-vid-iframe {
	background-color: #2b5592;
	min-height: 350px;
}

#eot-doc-wrapper #CDT-vid-iframe .active-vid {
	min-width: 100%;
}

#eot-doc-wrapper #cdt-vid-card-button {
	background: linear-gradient(90deg, #64bbe3 0, rgba(71, 135, 186, 0.795833) 51.04%, #64bbe3 100%);
	border-radius: 0 0 5px 5px;
	display: block;
	height: 2em;
	text-align: center;
	color: #fff;
	line-height: 2em;
	text-decoration: none;
}

#eot-doc-wrapper #cdt-vid-card-button:before {
	content: '\25B6 ';
	padding: 0.25em;
	margin-right: 8px;
}

#eot-doc-wrapper #CDT-Tag-Container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	margin: 3em 40px;
}

#eot-doc-wrapper #CDT-Tag-Container-Button {
	padding: 0.5em 1.5em;
	background-color: #2b5592;
	color: #fff;
	border-radius: 25px;
	margin: 0.5em;
	text-decoration: none;
}  */
